@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-zinc-700 bg-zinc-100 font-ubuntu;
  /*cursor: none;*/
}

html {
  scroll-behavior: smooth;
}

.cursor {
  @apply rounded-full fixed top-0 left-0 -translate-x-1/2 -translate-y-1/2 z-50 pointer-events-none;
}

.border-gradient {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 166, 0), rgb(183, 0, 255)) 1;
}

.social-boxshadow {
  box-shadow: 0 0 8px #3b82f6;
  background-color: transparent;
}

.glow:hover {
  @apply dark:text-white text-black social-boxshadow transition-all duration-300;
}

.text-highlight {
  @apply font-medium dark:text-zinc-100 text-zinc-700;
}
